@import url("../../assets/variables.css");


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.wishlist-container{
    width: 95%;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 3px solid #000;
    margin-top: 15px;
}
.wishlist-container .content-container{
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
    height: 100%;
  }

.wishlist-profile img{
    height: 40px;
    object-fit: cover;
    width: 40px;
}

.wishlist-location img{
    height: 10px;
    /* width: 10px; */
    width: auto;
}

.wishlist-location{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.wishlist-profile{
    display: flex;
    align-items: center;  
}

.wishlist-name{
    margin-top: 15px;
    margin-left: 10px;
    font-size: 18px;
    font-family: Inter-Bold, sans-serif;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
}

.wishlist-username{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 19px;
}

.wishlist-title{
    display: flex;
    /* margin-left: 110px; */
    /* margin-top: -57px; */
    font-size: var(--medium-font-size);
    font-family: Inter-Bold, sans-serif;
    font-weight: 700;
}

.wishlist-tag{
    margin-top: 0px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid var(--accent, #12C418);
  background: var(--WHITE, #FFF); 
  color: var(--accent, #12C418);
  text-align: center;
  width: fit-content;
  padding: 0px 5px;
}

.wishlist-detail{
    max-width: 400px;
    max-height: 120px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
    height: 100%;
    overflow-y: hidden;
}

.wishlist-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.wishlist-price{
    margin-top: 10px;
    font-size: 20px;
    font-family: Inter-Bold, sans-serif;
    font-weight: 700;
    align-items: center;
}

.wishlist-to-project button{
    height: 40px;
  background-color: var(--primary);
  border: none;
  font-size: 16px;
  border-radius: 8px;
  padding-left: 10px;
    padding-right: 10px;
    text-wrap: nowrap;
    color: #FFF;
}